# weather prediction system

In [309]:
import pandas as pd

In [310]:
df = pd.read_csv('seattle-weather.csv')

In [311]:
df.head()

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5     rain
2  2012-01-03            0.8      11.7       7.2   2.3     rain
3  2012-01-04           20.3      12.2       5.6   4.7     rain
4  2012-01-05            1.3       8.9       2.8   6.1     rain

In [312]:
df.tail()

            date  precipitation  temp_max  temp_min  wind weather
1456  2015-12-27            8.6       4.4       1.7   2.9    rain
1457  2015-12-28            1.5       5.0       1.7   1.3    rain
1458  2015-12-29            0.0       7.2       0.6   2.6     fog
1459  2015-12-30            0.0       5.6      -1.0   3.4     sun
1460  2015-12-31            0.0       5.6      -2.1   3.5     sun

In [313]:
df.isna().sum()

date             0
precipitation    0
temp_max         0
temp_min         0
wind             0
weather          0
dtype: int64

In [314]:
x = df.drop(columns=['date', 'weather'])
y = df['weather']

In [315]:
x

      precipitation  temp_max  temp_min  wind
0               0.0      12.8       5.0   4.7
1              10.9      10.6       2.8   4.5
2               0.8      11.7       7.2   2.3
3              20.3      12.2       5.6   4.7
4               1.3       8.9       2.8   6.1
...             ...       ...       ...   ...
1456            8.6       4.4       1.7   2.9
1457            1.5       5.0       1.7   1.3
1458            0.0       7.2       0.6   2.6
1459            0.0       5.6      -1.0   3.4
1460            0.0       5.6      -2.1   3.5

[1461 rows x 4 columns]

In [316]:
y

0       drizzle
1          rain
2          rain
3          rain
4          rain
         ...
1456       rain
1457       rain
1458        fog
1459        sun
1460        sun
Name: weather, Length: 1461, dtype: object

In [317]:
from sklearn.model_selection import train_test_split

In [318]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=42)

In [319]:
x_train

      precipitation  temp_max  temp_min  wind
1452            6.1       5.0       2.8   7.6
762             2.0       7.8       2.8   0.8
932             0.0      23.9      13.3   2.2
435             1.3      10.6       6.1   1.1
629             0.0      21.1      13.3   2.5
...             ...       ...       ...   ...
1130            8.4      10.6       4.4   1.7
1294            0.0      33.3      17.8   3.4
860             0.5      15.6       7.2   2.1
1459            0.0       5.6      -1.0   3.4
1126            0.0       7.2       3.3   1.9

[1022 rows x 4 columns]

In [320]:
y_test

892         sun
1105       rain
413        rain
522         sun
1036       rain
         ...
323        rain
650        rain
439        rain
798        rain
135     drizzle
Name: weather, Length: 439, dtype: object

In [321]:
from sklearn.linear_model import LogisticRegression

In [322]:
model = LogisticRegression(max_iter=500)

In [323]:
model.fit(x_train, y_train)

LogisticRegression(max_iter=500)

In [301]:
predictions = model.predict(x_test)

In [302]:
predictions

array(['sun', 'rain', 'sun', 'sun', 'rain', 'rain', 'sun', 'sun', 'rain',
       'sun', 'sun', 'sun', 'rain', 'sun', 'sun', 'rain', 'sun', 'sun',
       'sun', 'sun', 'rain', 'sun', 'rain', 'sun', 'sun', 'rain', 'sun',
       'sun', 'sun', 'sun', 'rain', 'sun', 'sun', 'rain', 'sun', 'rain',
       'rain', 'rain', 'rain', 'sun', 'rain', 'sun', 'sun', 'sun', 'sun',
       'rain', 'rain', 'sun', 'rain', 'sun', 'sun', 'rain', 'sun', 'rain',
       'sun', 'rain', 'rain', 'sun', 'rain', 'sun', 'rain', 'sun', 'rain',
       'sun', 'sun', 'sun', 'rain', 'sun', 'rain', 'rain', 'rain', 'sun',
       'sun', 'rain', 'rain', 'sun', 'rain', 'sun', 'rain', 'rain',
       'rain', 'sun', 'rain', 'sun', 'rain', 'sun', 'sun', 'rain', 'sun',
       'rain', 'rain', 'sun', 'sun', 'rain', 'rain', 'sun', 'sun', 'rain',
       'sun', 'rain', 'sun', 'sun', 'rain', 'snow', 'rain', 'sun', 'sun',
       'rain', 'sun', 'rain', 'rain', 'sun', 'rain', 'rain', 'sun', 'sun',
       'sun', 'sun', 'sun', 'rain', 'rain', 'rain', 'rain', 'rain', 'sun',
       'sun', 'sun', 'sun', 'sun', 'sun', 'sun', 'sun', 'sun', 'sun',
       'sun', 'sun', 'rain', 'rain', 'rain', 'sun', 'sun', 'sun', 'rain',
       'rain', 'sun', 'sun', 'sun', 'rain', 'sun', 'sun', 'rain', 'sun',
       'sun', 'sun', 'rain', 'rain', 'sun', 'sun', 'rain', 'rain', 'sun',
       'sun', 'rain', 'sun', 'sun', 'rain', 'rain', 'sun', 'sun', 'sun',
       'rain', 'rain', 'sun', 'sun', 'rain', 'rain', 'sun', 'sun', 'sun',
       'rain', 'sun', 'sun', 'sun', 'rain', 'rain', 'sun', 'rain', 'rain',
       'sun', 'sun', 'sun', 'sun', 'sun', 'rain', 'sun', 'sun', 'sun',
       'rain', 'rain', 'rain', 'rain', 'sun', 'sun', 'rain', 'sun',
       'rain', 'rain', 'sun', 'rain', 'sun', 'rain', 'sun', 'sun', 'sun',
       'sun', 'sun', 'sun', 'sun', 'rain', 'sun', 'rain', 'sun', 'sun',
       'sun', 'sun', 'rain', 'sun', 'rain', 'sun', 'rain', 'sun', 'rain',
       'sun', 'sun', 'rain', 'sun', 'sun', 'sun', 'sun', 'sun', 'rain',
       'rain', 'sun', 'rain', 'sun', 'sun', 'sun', 'sun', 'rain', 'rain',
       'rain', 'rain', 'rain', 'sun', 'sun', 'sun', 'rain', 'sun', 'rain',
       'rain', 'rain', 'rain', 'sun', 'rain', 'sun', 'sun', 'rain', 'sun',
       'sun', 'sun', 'sun', 'sun', 'sun', 'rain', 'sun', 'sun', 'rain',
       'rain', 'sun', 'sun', 'sun', 'rain', 'sun', 'sun', 'sun', 'sun',
       'rain', 'sun', 'sun', 'rain', 'sun', 'rain', 'sun', 'sun', 'rain',
       'rain', 'sun', 'rain', 'rain', 'rain', 'rain', 'rain', 'rain',
       'rain', 'rain', 'rain', 'rain', 'sun', 'sun', 'sun', 'rain',
       'rain', 'rain', 'sun', 'rain', 'sun', 'sun', 'rain', 'sun', 'sun',
       'rain', 'rain', 'rain', 'sun', 'sun', 'rain', 'rain', 'sun', 'sun',
       'sun', 'sun', 'rain', 'rain', 'sun', 'sun', 'sun', 'rain', 'rain',
       'rain', 'rain', 'rain', 'sun', 'rain', 'rain', 'sun', 'rain',
       'sun', 'sun', 'rain', 'rain', 'sun', 'sun', 'sun', 'rain', 'sun',
       'rain', 'sun', 'sun', 'sun', 'sun', 'sun', 'sun', 'sun', 'rain',
       'rain', 'rain', 'sun', 'sun', 'sun', 'sun', 'rain', 'rain', 'rain',
       'rain', 'rain', 'sun', 'rain', 'rain', 'rain', 'sun', 'rain',
       'sun', 'sun', 'sun', 'sun', 'rain', 'rain', 'sun', 'sun', 'rain',
       'rain', 'sun', 'sun', 'sun', 'rain', 'sun', 'sun', 'sun', 'rain',
       'rain', 'rain', 'sun', 'sun', 'sun', 'sun', 'rain', 'sun', 'sun',
       'sun', 'sun', 'sun', 'sun', 'sun', 'sun', 'sun', 'sun', 'rain',
       'rain', 'sun', 'sun', 'sun', 'sun', 'sun', 'sun', 'sun', 'rain',
       'sun', 'sun', 'rain', 'sun', 'rain', 'sun', 'sun', 'sun', 'rain',
       'rain', 'sun', 'rain', 'sun'], dtype=object)

In [303]:
from sklearn.metrics import classification_report

In [304]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

     drizzle       0.00      0.00      0.00        14
         fog       0.00      0.00      0.00        32
        rain       0.96      0.92      0.94       192
        snow       1.00      0.12      0.22         8
         sun       0.76      1.00      0.86       193

    accuracy                           0.85       439
   macro avg       0.54      0.41      0.41       439
weighted avg       0.77      0.85      0.80       439

C:\Users\rajku\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\rajku\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\rajku\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [307]:
test_weather = {'precipitation': 0, 'temp_max': 19.4, 'temp_min': 9.4, 'wind': 2}
test_df = pd.DataFrame([test_weather])
test_df

   precipitation  temp_max  temp_min  wind
0              0      19.4       9.4     2

In [308]:
model.predict(test_df)

array(['sun'], dtype=object)